{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <!-- jQuery -->
    <script src="{% static "js/vendors/jquery.js" %}"></script>
    <!------- Angular ------->
    <script src="{% static "js/vendors/angular/angular.js" %}"></script>
    <script src="{% static "js/vendors/angular/angular-resource.js" %}"></script>
    <script src="{% static "js/vendors/angular/angular-route.js" %}"></script>

    <!------- Bootstrap ------->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- JavaScript -->
    <script src="{% static "js/app.js" %}"></script>

    <!------- Controllers ------->
    <script src="{% static "js/controllers/homeController.js" %}"></script>
    <script src="{% static "js/controllers/calendarController.js" %}"></script>
    <script src="{% static "js/controllers/projectController.js" %}"></script>

    <!-- Factories -->

    <!-- CSS -->
    <link rel="stylesheet" href="{% static "css/index.css" %}">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
        <header>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/#/calendar">Calendar</a></li>
            </ul>
        </header>
        </div>
    </div>
        <div class="row body-container" ng-app="baseclone">
            <div class="col-md-12">
                <div class="view" ng-view></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                This is also outside of our Angular app. You can put whatever you want here, or you can delete it.
            </div>
        </div>
    </div>
</body>
</html>