{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <!-- jQuery -->
    <script src="{% static "js/vendors/jquery.js" %}"></script>
    <!------- Angular ------->
    <script src="{% static "js/vendors/angular/angular.js" %}"></script>
    <script src="{% static "js/vendors/angular/angular-resource.js" %}"></script>
    <script src="{% static "js/vendors/angular/angular-route.js" %}"></script>

    <!------- Bootstrap ------->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- JavaScript -->

    <!------- Controllers ------->

    <!-- CSS -->
    <link rel="stylesheet" href="{% static "css/index.css" %}">

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                This is outside of our Angular app. You could put a navbar here, for example.
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    Make this div into an Angular app
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                This is also outside of our Angular app. You can put whatever you want here, or you can delete it.
            </div>
        </div>
    </div>
</body>
</html>