.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.projectTile {
    height: 200px;
    background-color: yellow;
    margin: 10px;
}

.discussionTile {
    margin-bottom: 20px;
    background-color: lavender;
}

.commentTile {
    margin-bottom: 20px;
    background-color: lightcyan;
}

input.ng-dirty.ng-valid { border:3px solid Green; }
textarea.ng-dirty.ng-valid { border:3px solid Green; }

input.ng-dirty.ng-invalid { border:3px solid Red; }
textarea.ng-dirty.ng-invalid { border:3px solid Red; }

.required { display: none; color:red; }
.ng-invalid-required ~ span.required { display:inline; }

/* Navigation */
header {
  position: fixed;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  opacity: 0.95;
  box-shadow: 0 1px 1px 0 #eaeaea; }

/* Body Container */
.body-container{
    padding-top: 100px;
}

li {
  font-family: "proxima-nova", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #6f6f6f;
  padding: 10px 0 0 30px;
  display: inline;
  float: left; }

.container {
  margin: auto;
  max-width: 960px;
  display: block;
}
